                          ANSWER 1
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
SQL, which stands for “Structured Query Language,” is the programming language.
SQL databases are valuable in handling structured data, or data that has relationships between its variables and entities.
“NoSQL” is defined as “not only SQL.”
NoSQL systems allow you to work with different data structures within a database. Because they allow a dynamic schema for unstructured data, there’s less need to pre-plan and pre-organize data, and it’s easier to make modifications.

                             ANSWER 2
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
CREATE :
This command is used to create a new table in SQL. 
CREATE TABLE Student_info
(
    College_Id INT(2),
   College_name VARCHAR(30),
    Branch VARCHAR(10)
);
ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
ALTER TABLE Student_info
ADD CGPA number;
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
TRUNCATE TABLE Student_info;
DROP :
This command is used to remove an existing table along with its structure from the Database.
DROP TABLE Student_info;

                               ANSWER 3
DML is Data Manipulation Language which is used to manipulate data itself.
The INSERT statement is used to insert a new row in the database that is adding data to a table.
The UPDATE statement is used to update the data or row in the table.
The DELETE statement is used to delete a row from the table in the database.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS student")
mycursor.execute("CREATE TABLE if not exists student.student_info(college_id INT , college_name VARCHAR(50) , brance_name VARCHAR(30))")
mycursor.execute("insert into student.student_info values (123 ,'FGIET' , 'mechanical' )")
mycursor.execute("insert into student.student_info values (125 ,'FGIET' , 'aero' )")
mycursor.execute("insert into student.student_info values (126 ,'FGIET' , 'electrical' )")
mycursor.execute("insert into student.student_info values (128 ,'FGIET' , 'chemical' )")
mycursor.execute("insert into student.student_info values (124 ,'FGIET' , 'Cs' )")
mycursor.execute("update student.student_info set college_id = 224 where brance_name = 'Cs' ")
mycursor.execute("delete from student.student_info where college_id = 224 ")
#mycursor.execute("select * from student.student_info")
mydb.commit()
mydb.close()

                                    ANSWER 4 
DQL – Data Query Language
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.
SELECT: It is used to retrieve data from the database.
SELECT emp_name  
FROM employee  
WHERE age > 20;

                                     ANSWER 5
Primary Key: 
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

                                     ANSWER 6
PIP install mysql.connector
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text.

                                      ANSWER 7
FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause